<nav>
        <div class="nav-wrapper indigo darken-4">
            <ul class="right indigo darken-3">
                <li><a>Clicker</a></li>
                <li><a>Achievements</a></li>
                <li><a>Producer</a></li>
            </ul>
        </div>
    </nav>