<div class="row">
  <div class="col s1 z-depth-3 center-align">Flux-Clicker</div>
  <div class="col s1 z-depth-3 center-align">Notes</div>
  <div class="col s1 z-depth-3 center-align">Chords</div>
</div>

