
 <button id="flux-clicker">AHHHHHHH</button>
 <p id="flux-value">Flux: </p>
 <button id="purchase-note">Purchase</button>
 <button id="view-note"> view</button>
 <script src="/js/flux-clicker.js"></script>
  <script src="/js/note-handler.js"></script>