 <button id="flux-clicker">AHHHHHHH</button>
 <p id="flux-value">Flux: </p>
 <button id="purchase-note">Purchase</button>
 <script src="/js/flux-clicker.js"></script>
  <script src="/js/purchase-note.js"></script>