ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.color1{
    background-color: rgb(104, 197, 219);
}
.color2{
    background-color: rgb(68, 143, 163);
}
.color3{
    background-color: rgb(1, 151, 246);
}
.color4{
    background-color: rgb(2, 24, 43);
}
.color5{
    background-color: rgb(215, 38, 61);
}